doctype html
html(lang='fr')
	head
		title 
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="stylesheets/css/stylesheet.css")
		meta(name="viewport" content="width=device-width", charset="UTF-8")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
	body
		// #loader-wrapper
		// #loader 
		#index-wrapper
			.nav-wrapper
				.row
					.col.col--2-of-12.col--m-1-of-5.col--s-1-of-4
						.box
							p SAMPLE LOGO
					.col.col--1-of-12.col--push-7-of-12.col--m-1-of-5.col--s-1-of-4
						.box
							p S'inscrire
					.col.col--1-of-12.col--m-1-of-5.col--s-1-of-4
						.box
							p Se connecter
					.col.col--1-of-12.col--m-1-of-5.col--s-1-of-4
						.box
							p A propos
			.welcome-text
				| BIENVENUE SUR 
				em PROJECTM
				br
				| PLATEFORME DE MUSIQUE LIBRE
				.discover_button
					p Découvrir